.banner {
	@extend .swiper-container;
	position: relative;
	float: left;
	width: 100%;
	height: 500px;
	
	
	
	&--nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;		
	}
	&__inner {
		float: left;
		position: relative;
		height: 100%;
		width: 100%;
		img {
			position: relative;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		&_content {
			float: left;
			position: absolute 0;
			
			width: 100%;
			height: 100%;
		}
		&_desc {
			position: absolute;
			top: 60px;
			right: 70px;
			width: 360px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 50px 40px;
			background-color: rgba(19, 24, 38, .9);
			color: #FFF;
			text-align: left;
			h3 {
				font-family: $gth-b;
				text: uppercase 36px;
			}
			&_btn {
				float: left;
				margin-top: 40px;
				text: #fff uppercase 18px;
				padding: 5px 30px;
				background-color: $green;
				@include transition(.2s);
				&:hover {
					background-color: darken($green, 10%);
				}
			}
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #fff;
		-webkit-border-radius: 0;
		        border-radius: 0;
		opacity: 1;
		&-active {
			background-color: $green;
		}
	}
	.swiper-button-prev {
		background-image: url('../img/arrow_prev.png');
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		size: 29px 131px;
		margin-top: 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.swiper-button-next {
		background-image: url('../img/arrow_next.png');
		size: 29px 131px;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		margin-top: 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}


.objects {
	float: left;
	width: 100%;
	position: relative;
	background-image: url('../img/wall_bg.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding: 10px 0;
	&__item {
		float: left;
		width: 1 / 6 *100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 20px;
		margin: 15px 0;
		&_thumb {
			position: relative;
			display: block;
			size: 156px;
			background-image: url('../img/object_bg.png');
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 5px;
			z-index: 2;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50%;
			}
		}
		&_title {
			position: relative;
			display: block;
			size: 156px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background-color: $blue;
			@include transition(.2s);
			z-index: 1;
			text: #fff center 16px;
			padding-top: 80px;
			margin-top: -75px;
		}
		&:hover {
			.objects__item_title {
				background-color: #56ABD6;
			}
		}
	}	
}
