.banner {
	@extend .swiper-container;
	position: relative;
	float: left;
	width: 100%;
	height: 500px;
	
	
	
	&--nav {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;		
	}
	&__inner {
		float: left;
		position: relative;
		height: 100%;
		width: 100%;
		img {
			position: relative;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		&_content {
			float: left;
			position: absolute 0;
			
			width: 100%;
			height: 100%;
		}
		&_desc {
			position: absolute;
			top: 60px;
			right: 70px;
			width: 360px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 50px 40px;
			background-color: rgba(19, 24, 38, .9);
			color: #FFF;
			text-align: left;
			h3 {
				font-family: $gth-b;
				text: uppercase 36px;
			}
			&_btn {
				float: left;
				margin-top: 40px;
				text: #fff uppercase 18px;
				padding: 5px 30px;
				background-color: $green;
				@include transition(.2s);
				&:hover {
					background-color: darken($green, 10%);
				}
			}
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #fff;
		-webkit-border-radius: 0;
		        border-radius: 0;
		opacity: 1;
		&-active {
			background-color: $green;
		}
	}
	.swiper-button-prev, .swiper-button-next {
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
		margin-top: 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
	.swiper-button-prev {
		background-image: url('../img/arrow_prev.png');
		size: 29px 131px;
		
	}
	.swiper-button-next {
		background-image: url('../img/arrow_next.png');
		size: 29px 131px;		
	}
}


.objects {
	float: left;
	width: 100%;
	position: relative;
	background-image: url('../img/wall_bg.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding: 10px 0;
	&__item {
		float: left;
		width: 1 / 6 *100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 20px;
		margin: 15px 0;
		&_thumb {
			position: relative;
			display: block;
			size: 156px;
			background-image: url('../img/object_bg.png');
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			padding: 5px;
			z-index: 2;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 50%;
			}
		}
		&_title {
			position: relative;
			display: block;
			size: 156px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background-color: $blue;
			@include transition(.2s);
			z-index: 1;
			text: #fff center 16px;
			padding-top: 80px;
			margin-top: -75px;
		}
		&:hover {
			.objects__item_title {
				background-color: #56ABD6;
			}
		}
	}	
}

.deals {
	float: left;
	width: 100%;
	padding: 25px 0;
	background-image: url('../img/deals_bg.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	z-index: 9;
	h2 {
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 0;
		color: #FFF;
		z-index: 9;
		margin-top: -20px;
		span {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		    padding: 15px 25px;
		    background-color: $yellow;
		    text: uppercase 36px;
		    position: relative;
		    z-index: 9;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			width: 35%;
			height: 16px;
			top: 50%;
			z-index: 9;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			background-repeat: no-repeat;
		}
		&:before {			
			left: 0;			
			background-image: url('../img/border-left.png');
			background-position: 100% 50%;		
		}
		&:after {
			right: 0;			
			background-image: url('../img/border-right.png');
			background-position: 0 50%;
		}
	}
	&__carousel {		
		@extend .swiper-container;
		width: 90%;
		&-next, &-prev {
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			margin-top: 0;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		&-next {
			@extend .swiper-button-next;
			background-image: url('../img/arrow_next.png');
			size: 17px 73px;
			right: 0;
		}
		&-prev {
			@extend .swiper-button-prev;
			background-image: url('../img/arrow_prev.png');
			size: 17px 73px;
			left: 0;
		}
		&-pagination {
			@extend .swiper-pagination;
			position: relative;
			.swiper-pagination-hidden {
			  opacity: 0;
			}
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background-color: #fff;
				-webkit-border-radius: 0;
				        border-radius: 0;
				opacity: 1;
				&-active {
					background-color: $green;
				}
			}
		}	
		.swiper-slide {
			background: none;
			display: block;
			float: left;
			width: 100%;
		}	
	}
	
	&__item {
		float: left;
		width: 100%;
		margin: 15px 0;
		img {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		    border: 3px solid #fff;
		    border-width: 3px 3px 0 3px;
		    width: 100%;
		    height: 220px;
		    object-fit: cover;
		    object-position: 50%;
            border-radius: 3px 3px 0 0;
            margin: 0;
		}
		span {
			float: left;
			width: 100%;
			background-color: #131826;
			text: #fff uppercase center 24px;
			margin: -10px 0 0 0;
			padding: 15px 5px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			@include transition(.2s);
		}
		&:hover {
			span {
				background-color: $green;
			}
		}
	}
}

.handedover {
	float: left;
	width: 100%;
	position: relative;
	background-image: url('../img/texture.png');
	text-align: center;
	h2 {
		width: 100%;
		position: relative;
		text-align: center;
		text: #131826 uppercase 36px;
		z-index: 9;
		&:before, &:after {
			content: "";
			position: absolute;
			width: 35%;
			height: 16px;
			top: 50%;
			z-index: 9;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			-webkit-background-size: contain;
			     -o-background-size: contain;
			        background-size: contain;
			background-repeat: no-repeat;
		}
		&:before {			
			left: 0;			
			background-image: url('../img/border-left.png');
			background-position: 100% 50%;		
		}
		&:after {
			right: 0;			
			background-image: url('../img/border-right.png');
			background-position: 0 50%;
		}
	}
	&__item {
		position: relative;
		display: inline-block;
		size: 270px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px;
		margin: 5px 5px 25px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background-image: url('../img/object_bg.png');
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			obect-position: 50%;
		}
		&_adress {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 15px 35px 30px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			background-color: rgba(0, 0, 51, .7);
			text: #fff 18px;
		}
		&_open {
			position: absolute 0;
			background: url('../img/glass.png') no-repeat rgba(86, 171, 214, .7);
			background-position: 60% 40%;
			@include transition(.3s);
			opacity: 0;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}
		&:hover {
			.handedover__item_open {
				opacity: 1;
			}
		}
	}
}

