.icon {
	display: inline-block;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	&_phone {
		size: 29px;
		background-image: url('../img/call10.png');
		margin-right: 10px;
		vertical-align: top;
		margin-top: 5px;
	}
	&_marker {
		size: 14px 20px;
		margin-right: 5px;
		vertical-align: text-bottom;
		background-image: url('../img/market.png');
	    background-position: -16px 0;
	    -webkit-background-size: cover;
	         -o-background-size: cover;
	            background-size: cover;
	}
}