.footer {
	@extend .news;
	padding: 10px 0;
	margin: 0;
	&__social {
		float: left;
		width: 30%;
		&_link {
			float: left;
			width: 43px;
			height: 43px;
			position: relative;
			margin: 10px 7px;
			line-height: 43px;
			text-align: center;
			color: #FFF;
			font-size: 24px;
			@include border-radius(21px);
			background-color: #65cbff;
			@include transition(.2s);
			&:hover {
				background-color: $blue;
			}
		}			
	}
	&__contacts {
		float: left;
		width: 70%;
		text-align: right;
		p {
			float: left;
			margin: 20px 15px;
			text: #fff 21px;
			 
		}
	}
}